<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Housing Price Prediction Project</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="../static/style.css" rel="stylesheet" />
  </head>
  <body>
    <h1>California Housing Price Prediction</h1>
    <div class="navbar">
      <a href="/train">Start Training </a>
      <a href="/experiment_history">Experiment History</a>
      <a href="/predict">Prediction</a>
    </div>

    {% block content %} {% endblock %}
    <footer class="footer-container">
      <a href="https://github.com/Sahulinkan7/">github</a>
    </footer>
  </body>
</html>
